{
	"modbus bridge": {
		"url": "opc.tcp://10.193.20.68:16666",
		"node": "ns=1;s=bridge_AR"	
	},
	
	"relay" :{
		"url": "opc.tcp://10.193.20.68:16666",
		"node": "ns=1;s=relay_AR"	
	},

	"temperature": {
		"url" : "opc.tcp://10.193.20.68:16666",
		"node": "ns=1;s=temperature_AR"
	},
	
	"fan" : {
		"url" : "opc.tcp://10.193.20.68:16666",
		"node": "ns=1;s=fan_AR"
	},

	"heater" : {
		"url": "opc.tcp://10.193.20.68:16666",
		"node": "ns=1;s=heater_AR"	
	}
}
